/**
BASE DEFINATION WHICH IS COMMON ACCROSS ALL PAGES
 */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*THIS WILL INHERET BY ALL CHILD ELEMENT*/
body {
  padding: 30px;
  box-sizing: border-box;
}

html{
  // Define what 1rem equals to.
  font-size: 62.5%;
}